<nav class="navbar">

  <div class="navbar-container" [class.hidden]="isHidden">

    <div class="navbar-left">

      <div class="logo-container" routerLink="/" (click)="closeMenu()">
        <div class="turtle-circle">🌳</div>
        <span class="logo">ZooApp</span>
      </div>

      <ul class="navbar-menu left">
        <li>
          <a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Home</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active" (click)="closeMenu()">Chi siamo</a>
        </li>
        <li>
          <a routerLink="/activities" routerLinkActive="active" (click)="closeMenu()">Attività</a>
        </li>
        <li>
          <a routerLink="/services" routerLinkActive="active" (click)="closeMenu()">Servizi</a>
        </li>
      </ul>

    </div>

    <div class="navbar-right" [class.active]="isMenuOpen">
        <ul class="navbar-menu right">

          @if (!authGrant().isLogged) {
            <li>
              <a (click)="openLoginDialog()">Login</a>
            </li>
          }

          @if (authGrant().isLogged) {
            @if (authGrant().isAdmin) {
              <li>
                <a (click)="goToAdminArea()">Area Admin</a>
              </li>
            } @else {
              <li>
                <a (click)="goToUserArea()">Area Utenti</a>
              </li>
            }
            <li>
              <a (click)="logout()">Logout</a>
            </li>
          }

        </ul>
      </div>

  </div>

</nav>