.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navbar-menu.left {
  margin-left: 20px;
}

.navbar-menu.right {
  margin-left: auto; 
}