<div class="dialog-container">

  @if (mod() === 'U') {
    <h2 mat-dialog-title>Modifica {{ prodotto().nome }}</h2>
  } @else {
    <h2 mat-dialog-title>Creazione nuovo prodotto</h2>
  }

  <button mat-icon-button mat-dialog-close class="dialog-close-btn">
    <mat-icon>close</mat-icon>
  </button>

  <mat-dialog-content>

    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="form-grid">

      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="nome">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoriaId">
          @for (c of categorie; track c.id) {
            <mat-option [value]="c.id">{{ c.nome }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Prezzo(€)</mat-label>
        <input matInput type="number" formControlName="prezzo">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Stock</mat-label>
        <input matInput type="number" formControlName="stock">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>SKU</mat-label>
        <input matInput type="text" formControlName="sku">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Peso(kg)</mat-label>
        <input matInput type="number" step="0.01" formControlName="peso">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Dimensioni(cm³)</mat-label>
        <input matInput type="text" formControlName="dimensioni">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-row">
        <mat-label>URL Immagine</mat-label>
        <input matInput type="text" formControlName="urlImmagine">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-row">
        <mat-label>Descrizione</mat-label>
        <textarea matInput formControlName="descrizione"></textarea>
      </mat-form-field>

      <div class="msg-error full-row">
        <span style="color:red">{{ msg() }}</span>
      </div>

      <div class="button-group full-row">
        <button mat-raised-button color="primary" type="submit" [disabled]="!updateForm.valid">
          {{ mod() === 'C' ? 'Crea' : 'Salva' }}
        </button>

      </div>

    </form>

  </mat-dialog-content>

</div>