:host {
  display: block;
}

.home-container {
  display: flex;
  flex-direction: column;
}

section {
  box-sizing: border-box;
}

.intro-section,
.donation-section {
  min-height: 100vh;
  width: 100vw;
  display: flex;
}