<nav class="navbar">

  <div class="navbar-container" [class.hidden]="isHidden">

    <div class="navbar-left">

    <div class="logo-container" routerLink="/" (click)="openHome()">
        <img src="logo/logo-app.svg" alt="Logo ZooApp" class="logo-img" (click)="openHome()">
    </div>

      <ul class="navbar-menu left">
        @if (!isShopPage()) {
          <li>
            <a (click)="scrollToEventi(); closeMenu()">Eventi</a>
          </li>
          <li>
            <a (click)="scrollToNews(); closeMenu()">News</a>
          </li>
          <li>
            <a (click)="scrollToDonation(); closeMenu()">Donazioni</a>
          </li>
          <li>
            <a routerLink="/shop" (click)="closeMenu()">Negozio</a>
          </li>
        } @else {
          <li>
            <a routerLink="/" (click)="closeMenu()">Home</a>
          </li>
          <li>
            <a routerLink="/shop/biglietti" routerLinkActive="active" (click)="closeMenu()">Biglietti</a>
          </li>
          <li>
            <a routerLink="/shop/merch" routerLinkActive="active" (click)="closeMenu()">Merchandise</a>
          </li>
        }

      </ul>

      @if (isMerchPage()) {
        <div class="navbar-search">
          <input type="text" [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="Cerca prodotti..." class="search-input">
          <span class="material-icons search-icon">search</span>
        </div>
      }

    </div>

    <div class="navbar-right" [class.active]="isMenuOpen">
        <ul class="navbar-menu right">

          @if (!authGrant().isLogged) {
            <li>
              <a (click)="openLoginDialog()">Login</a>
            </li>
          }

          @if (authGrant().isLogged) {
            @if (authGrant().isAdmin) {
              <li>
                <a (click)="goToAdminArea()">Area Admin</a>
              </li>
            } @else {
              <li>
                <a (click)="goToUserArea()">Area Utenti</a>
              </li>
            }
            <li>
              <a (click)="logout()">Logout</a>
            </li>
          }

          @if (isShopPage()) {
            <li class="cart-item">
              <a class="cart-link">
                <span class="material-icons">shopping_cart</span>
                @if (cartCount > 0) {
                  <span class="cart-badge">{{ cartCount }}</span>
                }
              </a>
            </li>
          }

        </ul>
      </div>

  </div>

</nav>