<mat-toolbar>
  <button matIconButton [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
   <mat-menu #menu="matMenu">
    <button mat-menu-item  (click)="changePWD()">
      <mat-icon>password</mat-icon>
      <span>Cambio password</span>
    </button>
    <button mat-menu-item  (click)="profile()">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
  </mat-menu>
  <span>Gestione Profilo</span>
  


  @if (auth.grant().userId) {

    <div class="user-info">
      <span class="welcome">Ciao {{ auth.grant().userId }}</span>
    </div>
  }
    <span class="example-spacer"></span>
  
@if (auth.grant().isLogged){
    <div class="icon-with-label" 
        matTooltip="Gestione del Carrello" 
        [routerLink]="['utente','cart']">

    <button mat-icon-button aria-label="Carrello" matTooltip="Il Tuo Carrello">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    </div>
  }
</mat-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]=auth.isRoleAdmin() class="side-menu"> 
        <mat-list role="list">
        <mat-list-item role="listitem" routerLink="profilo" [routerLinkActive]="'active'">Profilo</mat-list-item>
        <!--@if (auth.isRoleAdmin()){
          <mat-list-item role="listitem" routerLink="utente" [routerLinkActive]="'active'">Gestione Utente</mat-list-item>
        }-->
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>