:host {
  display: block;
  background-color: var(--zoo-dark);
}

.home-container {
  display: flex;
  flex-direction: column;
  background-color: var(--zoo-dark);
}

section {
  box-sizing: border-box;
  min-height: 100vh;
  min-height: 100vh;
  width: 100%;
  display: flex;
}