:root {
  --primary-color: #FFD60A;
  --secondary-color: #1B4332;
  --accent-color: #E63946;
  --text-color: #FFFFFF;
  --light-bg: #FFFFFF;
}

body {
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}