:root {
  --zoo-green-dark: #2F5D50;
  --zoo-green-soft: #6E8F71;
  --zoo-sand-light: #D8C3A5;
  --zoo-earth-warm: #A47148;
  --zoo-cream: #F5EEDC;
  --zoo-gold-soft: #C89B3C;
  --zoo-text-dark: #2B2B2B;
  --zoo-text-light: #5A5A5A;
}

body {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}